body {
  border: var(--buttonDesktopColor) solid 4px;
  border-radius: 10px;
  margin: 2%;
  min-height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
.divInitial{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.divLogo {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 9%;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-right: 0px;
  grid-column: 1/2;
}
.description{
  display: block;
  position: relative;
  font-size: 27px;
  text-align: center;
  margin-top: 10%;
  color: var(--desktopFontColor);  
}
.welcome {
  font-size: 37px;
  color: var(--desktopFontColor);
  margin-bottom: 5%;
}

.imgLogo {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: auto;
}
.desktopContainer{
  grid-column: 2/3;
}
.containerInitial{
  margin-top: 30%;
}
.init{
font-weight: bold;
    color: var(--desktopFontColor);
    background-color: var(--buttonDesktopColor);
  }
.loginButtons{
  font-size: 30px;
  margin-top: 4%;
  color: var(--desktopFontColor);
  height: 45%;
  border-radius: 5px;
  font-size: 25px;
  
}
.containerLogin{
  width: 90%;
  margin-right: 10%;
}

.divNewUser{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-right: 10%;
}
.textInit{
  margin: auto;
  font-size: 27px;
  margin-bottom: 2%;
  text-align: center;
}
.new{
  margin-top: 0px;
  color:white;
  background-color:var(--colorLogo);
  width: 65%;
  height: 75%;
  border-color: var(--colorLogo);
  font-weight: bold;
  font-size: 22px;
}
.newUser{
  font-size: 20px;
}
.recoverPassword{
  font-size: 20px;
}
/* Register page */
.logoRegister{
  margin: auto;
  margin-left: 13%;
  margin-top: 25%
}
.containerLoginRegister{
  margin: auto;
}
/* Post */
.headerDesktop{
  gap: 5px;
  grid-template-columns: 35% 45% 20%;
  width: 100%;
}
.helloDesktop{
  font-size: 25px;
}
.signOutDesktop{
  font-size: 20px;
}
.searchPostDesktop input{
  margin-bottom: 5%;
  border-radius: 10px;
}

.recipePostDesktop{
  margin: auto;
  width: 100%; 
  font-size: 23px;
  height: 120px;
  border: 4px solid var(--borderButton);
  border-radius: 10px;
}
.containerMain{
  margin-top: 15%;
  width: 100%;
}
.userContainerPost{
  border-radius: 15px;
}
.searchInput{
  font-size: 17px;
  background-image: url("./images/loupe.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 35px;
  background-position-y: center;
}
.addPostDesktop{
  width: 95%;
  margin: auto;
}
.textAreaGray{
  height: 120px;
}
.inputPostDesktop{
  font-size: 24px;
}
.postNameDesktop{
  font-size: 20px;
}
.containerPosts{
  margin: auto;
  width: 95%;
}
.datePostDesktop{
  font-size: 20px;
}
.inputEditDesktop{
  font-size: 20px;
}
.like {
  width: 5%;
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
<<<<<<< HEAD
=======
  cursor: pointer;
>>>>>>> 551c6172896a4f55fc728dce22768b6a18bcee45
}
.countLike{
  position:absolute;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  margin-left:12% ;
}
.delete{
  margin-top: 6%;
  width: 10%;
  cursor: pointer;
}
.textAreaGray {
  font-size:20px;
}