:root{
    --buttonColor:#6ACBC5;
    --borderButton:#6CDBD4;
    --phoneFontColor:#525252;
    --desktopFontColor:#686868;
    --backgroundContainers: #f8f9f0;
    --inputBackground: #F1F1F1;
    --inputBorder: #e5e5e5;
    
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.init{
    background-color: var(--buttonColor);
    border:var(--borderButton);
    border-radius:5px ;
    font-size: 18px;
    width: 252px;
    
}

.divLogo{
    width: 80%;
    margin:auto;
    margin-top: 60px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

.imgLogo{
    background-size: cover;
    width: 100%;
    padding: 3px;
}

.welcome{
    font-size: 18px;
    color: var(--phoneFontColor);
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.containerLogin{

    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    width: 90%;
    background-color: var(--backgroundContainers);
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.loginButtons{
    margin: auto;
    width: 80%;
    padding: 5px;
    margin-top: 20px;
    background-color: var(--inputBackground);
    border: 1px solid #E5E5E5;
    border-radius: 5px;  
}

.init{
    background-color: var(--buttonColor);
}

.divNewUser{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.textInit{
    margin: auto;
    color: var(--phoneFontColor);
}

.recoverPassword{
    font-size: 10px;
}

.newUser{
    font-size:13px;
}

.new{
    background-color: var(--buttonColor);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-color: 1px solid var(--borderButton);
}

.logoInitial {
    margin-top: 30px;
}

.containerInitial {
    margin-top: 25px;
}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    column-gap: 3px;
    background-color: var(--backgroundContainers);
    border-bottom: 4px solid var(--borderButton);
    padding:5px;
    

}

.logoPost {
    grid-column: 1/2;
    display: flex;
    align-content: flex-end;
    margin-bottom: -5px;
}

.imgPost {
    width: 100%;
    background-size: contain;
    margin-top: 20px;
    margin-bottom: 10px;
}

.searchPost {
    
    grid-column: 2/3;
    display: flex;
    align-content: flex-end
    
}

.searchPost input{
    width: 90%;
    height: 25% ;
    margin: auto;
    margin-bottom: 2px;
    border-radius: 5px;
    border:1px solid var(--inputBorder);
}

.helloUser {
    grid-column: 3/4;
    display: flex;
    position: relative;
       
}

.textPost{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: right;
    margin-bottom: -15px;
}

.hello {
    font-size: 15px;
    font-weight: bold;
    color: var(--phoneFontColor);
    padding-bottom: 0;
    text-align: right;
    margin-right: 15px;
    position: relative;
    
    
}

.signOut {
    font-size: 12px;
    color:var(--phoneFontColor);
    text-align: right;
    margin-right: 15px;
    position: relative;
    margin-top: -20px;
    padding-top: 0;   
}

.containerMain{
    width: 98%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 5px;
}

.addPost{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recipePost{
    width: 95%;
    height: 40px;
    margin: auto;
    margin-left: 5px;
    border: 2px solid var(--borderButton);
    border-radius: 5px;
    font-size: 16px;
    color: var(--phoneFontColor);
}

.inputPost{
    width: 100px;
    margin-top: 10px;
    margin-left: 245px;
    font-size: 15px;
    font-weight: bold;
}